<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Table</title>
</head>
<body>
    <h1>User Table</h1>
    <form action="/insertData" method="post">
        <table border="2">
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" placeholder="Enter a Name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" placeholder="Enter a Email"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="password" placeholder="Enter a password"></td>
            </tr>
            <tr>
                <td>Submit</td>
                <td><input type="submit"  name="submit"  ></td>
            </tr>
        </table>
    </form>
</body>
</html>